<div class="doc_preview_modal" style="width: auto;">
    <span class="title-text">Додати нове місто</span>

    <div class=" col-xs-12 animate-if modal-main">


        <label class="newUserLable">Місто
        </label>
        <select type="text" class="newEmpName"
                ng-model="ctrl.newBranch.city">
            <option value="" selected disabled>Виберіть місто</option>
            <option ng-value="city.name" ng-repeat="city in citieslist">{{city.name}}</option>


        </select>
        <label class="newUserLable">Назва філіалу <span style="color: red;"
                                                        title="обов'язкове поле">*</span></label>
        <input type="text" class="newEmpName"
               ng-model="ctrl.newBranch.name">

        <label class="newUserLable">Індекс <span style="color: red;"
                                                 title="обов'язкове поле">*</span></label>
        <input type="number" class="newEmpName"
               ng-model="ctrl.newBranch.zip_code">

        <label class="newUserLable">Вулиця <span style="color: red;"
                                                 title="обов'язкове поле">*</span></label>
        <input type="text" class="newEmpName"
               ng-model="ctrl.newBranch.address_ua">

        <label class="newUserLable">Вулиця (російською) <span style="color: red;"
                                                              title="обов'язкове поле">*</span></label>
        <input type="text" class="newEmpName"
               ng-model="ctrl.newBranch.address_ru">


        <div class="button_panel">
            <br>
            <button class="info_body_button_panel_vacations_save col-xs-6"
                    ng-click="createNewBranch(ctrl.newBranch);closeThisDialog(0)"
                    ng-class="{'disabled':!ctrl.newBranch.address_ru||!ctrl.newBranch.address_ua||!ctrl.newBranch.zip_code||!ctrl.newBranch.name||!ctrl.newBranch.city}"
            >
                Зберегти

            </button>
        </div>
    </div>

</div>