<div class="col-xs-12  general_info_widgets-header">
    <span class="general_info_widgets-title">Досвід роботи</span>
    <span class="general_info_widgets-button col-xs-1 " ng-click="$ctrl.addWorkExpModal();$ctrl.changeWidget()
">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.667 11.653"><defs><style>.aplus{fill:#457bbf;}</style></defs><path class="aplus" d="M8.833,4.154V8.815H4.167v2.331H8.833v4.661h2.333V11.146h4.667V8.815H11.166V4.154Z" transform="translate(-4.167 -4.154)"/></svg>
    </span>


</div>
<div class="col-xs-12 general_info_widgets-container no-padding" ng-if="workExpC.length==0">
     <h4 class="text-center">Дані відсутні</h4>
    <h5  class="text-center">Для додавання інформації натисніть "+"</h5>
</div>
<div class="col-xs-12 general_info_widgets-container general_info_widgets-container-edu no-padding " ng-repeat="workExp in workExpC track by $index " >
    <div class="col-xs-12 no-padding widget_row" style="">
        <span class="col-xs-5 widget_row_span_f">Назва компанії</span>
        <span class="col-xs-7 " style="text-align: left;"  ng-if="workExp.workplace">{{::workExp.workplace}}</span>
        <span class="col-xs-7 " style="text-align: left;"  ng-if="!workExp.workplace">не вказано</span>

    </div>
    <div class="col-xs-12 no-padding widget_row" >

        <span class="col-xs-5 widget_row_span_s" >Посада</span>
        <span class="col-xs-7" style="text-align: left;"  ng-if="workExp.position">{{::workExp.position}}</span>
        <span class="col-xs-7" style="text-align: left;"  ng-if="!workExp.position">не вказано</span>

    </div>
    <div class="col-xs-12 no-padding widget_row" >
        <span class="col-xs-5 widget_row_span_l" >Стаж, ЗП</span>
        <span class="col-xs-7" style="text-align: left;  "  ng-if="workExp.years||workExp.salary">{{::workExp.years}},   {{::workExp.salary}}</span>
        <span class="col-xs-7" style="text-align: left; "  ng-if="!workExp.years&&!workExp.salary">не вказано</span>

    </div>



    <!--<div class="col-xs-6 general_info_widgets-left">-->
            <!--<span>-->
                <!--Назва компанії-->
            <!--</span>-->
        <!--<span>-->
                <!--Посада-->
            <!--</span>-->
        <!--<span>-->
                <!--Стаж, ЗП-->
            <!--</span>-->

    <!--</div>-->
    <!--<div class="col-xs-6 general_info_widgets-right">-->
    <!--<span>-->
                <!--{{::workExp.name}}-->
            <!--</span>-->
        <!--<span>-->
                <!--{{::workExp.position}}-->
            <!--</span>-->
        <!--<span>-->
                <!--{{::workExp.year}},   {{::workExp.salary}}-->
            <!--</span>-->


    <!--</div>-->
    <!--<br>-->
</div>

