<!--component.list.control.menu.current.candidate.html<div class="head_menu_background head_menu_wrapper head_menu_wrapper_curr">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->

      <!--<div class="smooth_width" ng-class="{'col-md-9': displayNotes(), 'col-md-12': !displayNotes()}">-->
        <!--<div class="tabs_container page_boxed" ng-class="{'custom_padding': !displayNotes()}">-->
          <!--<ul class="tabs_list"-->
              <!--ng-init="$ctrl.scrollOnHover()">-->
            <!--<li class="tabs_item button"-->
                <!--ng-click="$ctrl.changePane(1)"-->
                <!--ng-class="{'active': showPane() === 1}">-->
              <!--Загальна інформація-->
            <!--</li>-->
            <!--<li class="tabs_item button"-->
                <!--ng-click="$ctrl.changePane(2)"-->
                <!--ng-class="{'active': showPane() === 2}">-->
              <!--Повна інформація-->
            <!--</li>-->
            <!--<li class="tabs_item button"-->
                <!--ng-click="$ctrl.changePane(3)"-->
                <!--ng-class="{'active': showPane() === 3}">-->
              <!--Документи-->
            <!--</li>-->
            <!--<li class="tabs_item button disabled"-->
                <!--ng-click="$ctrl.changePane(4)"-->
                <!--ng-class="{'active': showPane() === 4}">-->
              <!--Синхронізація-->
            <!--</li>-->
            <!--<li class="tabs_item button disabled"-->
                <!--ng-click="$ctrl.changePane(5)"-->
                <!--ng-class="{'active': showPane() === 5}">-->
              <!--Опитування-->
            <!--</li>-->
            <!--<li class="tabs_item button disabled"-->
                <!--ng-click="$ctrl.changePane(6)"-->
                <!--ng-class="{'active': showPane() === 6}">-->
              <!--Відпустки-->
            <!--</li>-->
            <!--<li class="tabs_item button"-->
                <!--ng-click="$ctrl.changePane(7)"-->
                <!--ng-class="{'active': showPane() === 7}">-->
              <!--Навчання-->
            <!--</li>-->
            <!--<li class="tabs_item button"-->
                <!--ng-click="$ctrl.changePane(8)"-->
                <!--ng-class="{'active': showPane() === 8}">-->
              <!--Сім'я-->
            <!--</li>-->
            <!--<li class="tabs_item button "-->
                <!--ng-click="$ctrl.changePane(9)"-->
                <!--ng-class="{'active': showPane() === 9}">-->
              <!--Досвід роботи-->
            <!--</li>-->
            <!--<li class="tabs_item button disabled"-->
                <!--ng-click="$ctrl.changePane(10)"-->
                <!--ng-class="{'active': showPane() === 10}">-->
              <!--Кар'єра в компанії-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-sm-3 head_menu_button_wrapper">-->
    <!--<button class="head_menu_button right" ng-click="$ctrl.toggleNotes()">-->
      <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40"-->
           <!--version="1.1">-->
        <!--<g id="surface1">-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 38.5 8 L 9.5 8 C 9.222656 8 9 7.777344 9 7.5 C 9 7.222656 9.222656 7 9.5 7 L 38.5 7 C 38.777344 7 39 7.222656 39 7.5 C 39 7.777344 38.777344 8 38.5 8 Z "></path>-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 31.5 12 L 9.5 12 C 9.222656 12 9 11.777344 9 11.5 C 9 11.222656 9.222656 11 9.5 11 L 31.5 11 C 31.777344 11 32 11.222656 32 11.5 C 32 11.777344 31.777344 12 31.5 12 Z "></path>-->
          <!--<path style=" fill:#DFF0FE;" d="M 1.5 7.5 L 5.5 7.5 L 5.5 11.5 L 1.5 11.5 Z "></path>-->
          <!--<path style=" fill:#4788C7;" d="M 5 8 L 5 11 L 2 11 L 2 8 L 5 8 M 6 7 L 1 7 L 1 12 L 6 12 Z "></path>-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 38.5 19 L 9.5 19 C 9.222656 19 9 18.777344 9 18.5 C 9 18.222656 9.222656 18 9.5 18 L 38.5 18 C 38.777344 18 39 18.222656 39 18.5 C 39 18.777344 38.777344 19 38.5 19 Z "></path>-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 31.5 23 L 9.5 23 C 9.222656 23 9 22.777344 9 22.5 C 9 22.222656 9.222656 22 9.5 22 L 31.5 22 C 31.777344 22 32 22.222656 32 22.5 C 32 22.777344 31.777344 23 31.5 23 Z "></path>-->
          <!--<path style=" fill:#DFF0FE;" d="M 1.5 18.5 L 5.5 18.5 L 5.5 22.5 L 1.5 22.5 Z "></path>-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 5 19 L 5 22 L 2 22 L 2 19 L 5 19 M 6 18 L 1 18 L 1 23 L 6 23 Z "></path>-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 38.5 30 L 9.5 30 C 9.222656 30 9 29.777344 9 29.5 C 9 29.222656 9.222656 29 9.5 29 L 38.5 29 C 38.777344 29 39 29.222656 39 29.5 C 39 29.777344 38.777344 30 38.5 30 Z "></path>-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 31.5 34 L 9.5 34 C 9.222656 34 9 33.777344 9 33.5 C 9 33.222656 9.222656 33 9.5 33 L 31.5 33 C 31.777344 33 32 33.222656 32 33.5 C 32 33.777344 31.777344 34 31.5 34 Z "></path>-->
          <!--<path style=" fill:#DFF0FE;" d="M 1.5 29.5 L 5.5 29.5 L 5.5 33.5 L 1.5 33.5 Z "></path>-->
          <!--<path style=" fill:#4788C7;"-->
                <!--d="M 5 30 L 5 33 L 2 33 L 2 30 L 5 30 M 6 29 L 1 29 L 1 34 L 6 34 Z "></path>-->
        <!--</g>-->
      <!--</svg>-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->