<div class="modal_qr-show">
    <div class="modal_qr_header">
            <span class="text">Добавити контакт працівника на мобільний</span>

    </div>
    <div class="modal_qr_main">
        <div class="modal_qr_code " >
            <img src="https://phonebook.busmarket.ua/qr/{{QR}}" alt={{QR}}>

        </div>
        <div class="modal_qr_manual">
            <p class="info_qr">
                Щоб додати працівника у список контактів на вашому мобільному -
                <strong>відскануйте QR код своїм смартфоном</strong>,
                та збережіть отримані дані!
            </p>
        </div>
    </div>


</div>



