<div class="doc_preview_modal" style="width: auto;">
<!--{{ngDialogData}}-->


    <div class="col-xs-12">
        <h3 class="text-center">Зберегти {{ngDialogData.person.surname}} {{ngDialogData.person.name}}
 як кандидата, більшість персональних даних буде збережено</h3>
        <button class="btn btn-success col-xs-5 col-xs-offset-1" ng-click="saveEmpToCand(ngDialogData);closeThisDialog(0)">так</button>
        <button class="btn btn-danger col-xs-5 col-xs-offset-1" ng-click="closeThisDialog(0)">ні</button>
    </div>





</div>