<header-component></header-component>
<sidebar></sidebar>
<div class="spinner_container" ng-if="ctrl.spinner==true">
    <span class="spinner_message" style="" ng-if="ctrl.spinner2==true">триває синхронізація, це може зайняти тривалий час</span><br>

    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="content" style="overflow:hidden; min-height:100vh"
     ng-class="{'smaller': sidebarVisible(), 'translate': displayNotes()}">


    <div class="polls_active_body smooth_width col-xs-11"
         ng-class="{'col-lg-8': displayNotes(), 'col-lg-10 col-lg-offset-1': !displayNotes()}">
        <!--<div class="container-fluid page page_boxed">-->

        <div class=" row polls_active col-xs-12 customScroll">


            <div class="row polls_active_header">
                <span class=" col-xs-1">№</span>
                <span class=" col-xs-4">Назва</span>
                <span class=" col-xs-2">Дата</span>
                <span class=" col-xs-2">К-сть респондентів</span>
                <span class=" col-xs-3">Дії</span>
            </div>
            <div class="row polls_active_table" ng-repeat="poll in polls">
                <div class=" col-xs-1"><span>{{poll.id}}</span></div>
                <div class=" col-xs-4"><span ng-bind-html="poll.name"></span></div>
                <div class=" col-xs-2"><span ng-bind-html="poll.created| date:'dd.MM.yyyy'"></span></div>
                <div class=" col-xs-2">
                    <span>{{poll.count_of_complete}}/{{poll.total_count}}</span>
                </div>
                <div class=" col-xs-3 polls_active_button_panel">
                    <button type="button" title="опублікувати опитування" class="col-xs-3 polls_active_button"
                            ng-click="ctrl.publicatePoll(poll.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.303 18.308">
                            <defs>
                                <style>.ap {
                                    fill: #49b994;
                                }</style>
                            </defs>
                            <path class="ap"
                                  d="M21.814,4a.4.4,0,0,0-.123.041L4.259,11.528a.436.436,0,0,0-.014.79l6.5,3.241,3.241,6.5a.436.436,0,0,0,.79-.014L22.264,4.609A.437.437,0,0,0,21.814,4Zm-1.852,1.73-8.989,8.989-5.5-2.751Zm.613.613L14.337,20.83l-2.751-5.5Z"
                                  transform="translate(-4 -3.993)"/>
                        </svg>

                    </button>
                    <a title="відобразити статистику" href="/#!/polls/statistics/{{poll.id}}"
                       class="col-xs-3 polls_active_button"
                       ng-click="ctrl.statPoll(poll.id, poll.name)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.812 16.292">
                            <defs>
                                <style>.as {
                                    fill: #bc10ab;
                                }</style>
                            </defs>
                            <g transform="translate(-12 -24)">
                                <path class="as"
                                      d="M23.906,24a.626.626,0,0,0-.627.627v9.4H20.773v-1.88a.626.626,0,0,0-.627-.627h-3.76a.626.626,0,0,0-.627.627v6.893H12.627a.627.627,0,1,0,0,1.253H35.185a.627.627,0,0,0,0-1.253H32.052V28.386a.626.626,0,0,0-.627-.627H28.292V24.627A.626.626,0,0,0,27.665,24Zm.627,1.253h2.506V39.039H24.532Zm3.76,3.76H30.8V39.039H28.292Zm-11.279,3.76h2.506v6.266H17.013Zm3.76,2.506h2.506v3.76H20.773Z"/>
                            </g>
                        </svg>


                    </a>
                    <button type="button" title="скопіювати опитування" class="col-xs-3 polls_active_button"
                            ng-click="ctrl.copyPoll(poll.id, poll.name)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.678 17.678">
                            <defs>
                                <style>.ac {
                                    fill: #457bbf;
                                    stroke: #457bbf;
                                    stroke-width: 0.3px;
                                }</style>
                            </defs>
                            <path class="ac"
                                  d="M6.6,0V2.085l.7.7V.7h5.213V4.866h4.171V13.9H11.469v.7h5.908V4.377L13,0Zm6.6,1.184,2.987,2.987H13.207ZM0,2.78v14.6H10.774V7.157l-.1-.109L6.506,2.878,6.4,2.78Zm.7.7H5.908V7.646h4.171v9.036H.7Zm5.908.5L9.579,6.951H6.6Z"
                                  transform="translate(0.15 0.15)"/>
                        </svg>

                    </button>
                    <button type="button" title="видалити опитування" class="col-xs-3 polls_active_button"
                            ng-click="ctrl.deletePoll(poll.id, poll.name)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.424 17.424">
                            <defs>
                                <style>.ad {
                                    fill: #b13d3a;
                                    stroke: #b13d3a;
                                    stroke-width: 0.3px;
                                }</style>
                            </defs>
                            <path class="ad"
                                  d="M6.934,6.281l-.653.653,7.847,7.847L6.281,22.629l.653.653,7.847-7.847,4.344,4.344,3.5,3.5.653-.653-7.847-7.847,7.847-7.847-.653-.653-7.847,7.847Z"
                                  transform="translate(-6.069 -6.069)"/>
                        </svg>

                    </button>


                </div>
            </div>

        </div>


    </div>
    <div ng-if="displayNotes()" class="col-xs-4 no-padding"
         ng-class="{'width_0': !displayNotes()}">
        <notes-component>
        </notes-component>
    </div>


</div>